In [770]:
# Import dependencies
import pandas as pd
import os
from dotenv import load_dotenv    # from Karen's or Khaled's code
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy import select      # Not used
import psycopg2
import csv   # Not used
import numpy as np
from pprint import pprint
import json


# import gzip    # Not used

In [771]:

url_metar_gz="https://aviationweather.gov/data/cache/metars.cache.csv.gz"
url_TAF_gz="https://aviationweather.gov/data/cache/tafs.cache.csv.gz"
url_airsigmets_gz="https://aviationweather.gov/data/cache/airsigmets.cache.csv.gz"

__To retrieve METAR data__

In [772]:
# Fetch, load, and decompress the data relative to metar
metar_data_df = pd.read_csv(url_metar_gz, header=5, compression='gzip')
metar_data_df.head()

,raw_text,station_id,observation_time,latitude,longitude,temp_c,dewpoint_c,wind_dir_degrees,wind_speed_kt,wind_gust_kt,...,maxT24hr_c,minT24hr_c,precip_in,pcp3hr_in,pcp6hr_in,pcp24hr_in,snow_in,vert_vis_ft,metar_type,elevation_m
0,PHNG 310557Z AUTO 09007KT 10SM OVC047 26/18 A3...,PHNG,2023-12-31T05:57:00Z,21.4500,-157.7630,25.6,18.3,90,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,METAR,1.0
1,KMNM 310557Z AUTO 03007KT 9SM UP OVC016 00/M02...,KMNM,2023-12-31T05:57:00Z,45.1260,-87.6390,0.0,-2.2,30,7.0,NaN,...,NaN,NaN,0.005,NaN,0.005,NaN,NaN,NaN,METAR,188.0
2,CYHU 310557Z AUTO 28011KT 9SM OVC024 M04/M08 A...,CYHU,2023-12-31T05:57:00Z,45.5160,-73.4150,-4.0,-8.0,280,11.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPECI,26.0
3,CYCA 310557Z AUTO 01005KT 9SM -SN SCT009 BKN07...,CYCA,2023-12-31T05:57:00Z,53.6830,-57.0420,-2.0,-2.0,10,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPECI,12.0
4,TJSJ 310556Z 00000KT 10SM FEW027 24/21 A3004 R...,TJSJ,2023-12-31T05:56:00Z,18.4326,-66.0107,24.4,21.1,0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,METAR,3.0

In [773]:
# Convert the dataframe to a JSON format
# metar_json = json.loads(json.dumps(list(metar_data_df.T.to_dict().values())))   # https://stackoverflow.com/questions/39257147/convert-pandas-dataframe-to-json-format answer #10 Amir.S
# pprint(metar_json, sort_dicts=False)  # the pprint process is slow (10.5sec)

In [774]:
# pprint(metar_json, sort_dicts=False)

In [775]:
# Convert some columns to INT
# cols=['wind_dir_degrees','wind_speed_kt','wind_gust_kt','cloud_base_ft_agl','cloud_base_ft_agl.2',\
#     'cloud_base_ft_agl.3','vert_vis_ft','elevation_m']
# metar_data_df[cols]=metar_data_df[cols].apply(pd.to_numeric, errors='coerce', downcast='integer', axis=1) # Does not appear to convert to INT, but to FLOAT64
# metar_data_df[cols]=metar_data_df[cols].astype(int)   # Cannot convert NaN

In [776]:
# metar_data_df.columns

In [777]:
# metar_data_df.info()

In [778]:
# convert the dataframe to a dictionary then to a JSON string
metar_string=json.dumps(list(metar_data_df.T.to_dict().values()))

# open the file in write mode
# output_path = os.path.join("Resources", "metar_data.json")  # To be removed if logic.js cannot read from Resources
output_path = os.path.join("", "metar_data.json")
with open(output_path, "w") as file:
    # write the JSON string to the file
    file.write(metar_string.replace("NaN","null"))

# file is automatically closed after the with block

In [779]:
# To save the dataframe as a csv file for future import to database (not needed anymore)
# output_path2 = os.path.join("", "metar_data.csv")
# metar_data_df.to_csv(output_path2, index=False)

# file is automatically closed after the with block

__To refresh the metar table in the Render database__

In [780]:
# Test to refresh the metar table

load_dotenv()
db_url = os.environ.get("link_render")
connection = psycopg2.connect(db_url)
cursor = connection.cursor()
cursor.execute("DELETE FROM metar;")    # Deletes all the rows but keep the table
connection.commit()
cursor.close()
connection.close()

In [781]:
# Test to populate the empty table from a json file
load_dotenv()
db_url = os.environ.get("link_render")
connection = psycopg2.connect(db_url)
cursor = connection.cursor()

cursor.execute("set search_path to public") # https://dba.stackexchange.com/questions/268365/using-python-to-insert-json-into-postgresql

with open('metar_data.json') as file:
    data = file.read()

query_sql = """
INSERT INTO metar SELECT * FROM
json_populate_recordset(NULL::metar, %s);
"""

cursor.execute(query_sql, (data,))
connection.commit()

__To download a new json file made of the joining of airport data and weather data__

In [782]:
# download the output of a query across multiple tables with all the active public airport with or without weather information.
# Will be used to populate the makers that do not have METAR information.
# There is only one row per airport so only one runway is listed even if the airport as more.
# More parameters can be added to complete the info on the popup window.

load_dotenv()
db_url = os.environ.get("link_render")

# query="""
#     SELECT DISTINCT ON (arpt_id)
# 	arpt_id, icao_id, metar.station_id, arpt_name, apt_rwy.rwy_id, lat_decimal, long_decimal, metar.observation_time, metar.wind_speed_kt, metar.flight_category, metar.raw_text
#     FROM apt_rwy
#     JOIN apt_base ON apt_base.site_no = apt_rwy.site_no
#     FULL JOIN metar ON metar.station_id = apt_base.icao_id
#     WHERE facility_use_code='PU' AND site_type_code='A' AND arpt_status='O';
#     """

query="""
SELECT DISTINCT ON (arpt_id)
    arpt_id, icao_id, metar.station_id, arpt_name, apt_rwy.rwy_id, lat_decimal, metar.latitude, long_decimal, metar.longitude, metar.observation_time, metar.wind_speed_kt, metar.flight_category, metar.raw_text, elev, metar.visibility_statute_mi, metar.cloud_base_ft_agl
FROM apt_rwy
JOIN apt_base ON apt_base.site_no = apt_rwy.site_no
FULL JOIN metar ON (RIGHT(metar.station_id, LENGTH(metar.station_id) - 1)) = apt_base.arpt_id
WHERE facility_use_code='PU' AND site_type_code='A' AND arpt_status='O' AND
CASE
	WHEN metar.station_id IS NOT NULL
	THEN (@(lat_decimal - metar.latitude) <1) AND (@(long_decimal - metar.longitude) <1) AND site_type_code='A'
	
	WHEN metar.station_id IS NULL
	THEN site_type_code='A'
END
"""

engine=create_engine(db_url)
with engine.begin() as conn:
    results=conn.execute(
        text(query)
    )

arpt_weather_query_df = pd.DataFrame(results)

# Save the df as a CSV file. Might not be needed if we only use JSON    TO BE REMOVED?
# arpt_weather_query_df.to_csv (r'airport_weather_data.csv', index = False) # place 'r' before the path name


# convert the dataframe to a dictionary then to a JSON string
arpt_weather_string=json.dumps(list(arpt_weather_query_df.T.to_dict().values()))

# open the file in write mode
output_path = os.path.join("", "airport_weather_data.json")
with open(output_path, "w") as file:
    # write the JSON string to the file
    file.write(arpt_weather_string.replace("NaN","null"))

# file is automatically closed after the with block

In [783]:
# arpt_weather_query_df.head()

In [784]:
# pprint(arpt_weather_string)

__To retrieve TAF data__

In [785]:
# Fetch, load, and decompress the data relative to TAF  (working but not used for now)
# taf_data_df = pd.read_csv(url_TAF_gz, header=5,index_col=False, compression='gzip',dtype='str',low_memory=False)
# taf_data_df.head()

In [786]:
# Convert the dataframe to a JSON format  (working but not used for now)
# taf_json = json.loads(json.dumps(list(taf_data_df.T.to_dict().values())))   # https://stackoverflow.com/questions/39257147/convert-pandas-dataframe-to-json-format answer #10 Amir.S
# pprint(taf_json, sort_dicts=False)  # the pprint process is slow (10.5sec)

In [787]:
# # convert the dataframe to a dictionary then to a JSON string  (working but not used for now)
# taf_string=json.dumps(list(taf_data_df.T.to_dict().values()))

# # open the file in write mode
# output_path = os.path.join("Resources", "taf_data.json")
# with open(output_path, "w") as file:
#     # write the JSON string to the file
#     file.write(taf_string.replace("NaN","null"))

# # file is automatically closed after the with block

__To retrieve AIRMET and SIGMET polygons data__

In [788]:
# Fetch, load, and decompress the data relative to Airmet and Sigmet
airsigmet_data_df = pd.read_csv(url_airsigmets_gz, header=5, compression='gzip', encoding='utf-8')
airsigmet_data_df.head()

,raw_text,valid_time_from,valid_time_to,lon:lat points,min_ft_msl,max_ft_msl,movement_dir_degrees,movement_speed_kt,hazard,severity,airsigmet_type
0,WSUS32 KKCI 310455 SIGC CONVECTIVE SIGMET.....,2023-12-31T04:55:00Z,2023-12-31T06:55:00Z,-107:49;-107:31.79;-106.52:31.78;-106.48:31.75...,NaN,NaN,NaN,NaN,CONVECTIVE,1,SIGMET
1,WSUS33 KKCI 310455 SIGW CONVECTIVE SIGMET.....,2023-12-31T04:55:00Z,2023-12-31T06:55:00Z,-122.77:49;-123.12:48.96;-123.02:48.6;-123.16:...,NaN,NaN,NaN,NaN,CONVECTIVE,1,SIGMET
2,WSUS31 KKCI 310455 SIGE CONVECTIVE SIGMET.....,2023-12-31T04:55:00Z,2023-12-31T06:55:00Z,-87:27.48;-84.26:27.48;-83.01:24;-78.66:24;-79...,NaN,NaN,NaN,NaN,CONVECTIVE,1,SIGMET
3,WAUS45 KKCI 310245 SLCT WA 310245 AIRMET TAN...,2023-12-31T02:45:00Z,2023-12-31T09:00:00Z,-103.126:34.7347;-103.24:31.87;-106.28:31.82;-...,27000.0,42000.0,NaN,NaN,TURB,MOD,AIRMET
4,WAUS43 KKCI 310245 CHIT WA 310245 AIRMET TAN...,2023-12-31T02:45:00Z,2023-12-31T09:00:00Z,-103.63:48.8448;-94.3328:48.8206;-96.1158:46.7...,26000.0,40000.0,NaN,NaN,TURB,MOD,AIRMET

In [789]:
# replace with <br> in raw_text
# airsigmet_data_df['raw_text'].str.replace(r' \x07','<br>')
# airsigmet_data_df.replace(r' x07','<br>', regex=True)

# To convert the points delimiting the areas into something Leaflet-friendly
for j in range(len(airsigmet_data_df)):
    test=airsigmet_data_df.iloc[j]['lon:lat points']
    if  pd.isna(test)!=True:    # Test if the cell is not NaN
        test1=test.split(';')
        for i in range(len(test1)):
            test1[i]=test1[i].split(':')    # Creates list of coordinates
            test1[i][0],test1[i][1]=float(test1[i][1]),float(test1[i][0])   # Swap lon:lat to lat:lon
        airsigmet_data_df.at[j,'lon:lat points']=test1

    # shift cells for missing column
    test2=airsigmet_data_df.iloc[j]['airsigmet_type']
    if  pd.isna(test2)==True:    # Test if the cell is NaN
        airsigmet_data_df.at[j,'airsigmet_type']=airsigmet_data_df.at[j,'severity']
        airsigmet_data_df.at[j,'severity']=airsigmet_data_df.at[j,'hazard']
        airsigmet_data_df.at[j,'hazard']=airsigmet_data_df.at[j,'movement_speed_kt']
        airsigmet_data_df.at[j,'movement_speed_kt']=airsigmet_data_df.at[j,'movement_dir_degrees']
        airsigmet_data_df.at[j,'movement_dir_degrees']=airsigmet_data_df.at[j,'max_ft_msl']
        airsigmet_data_df.at[j,'max_ft_msl']=airsigmet_data_df.at[j,'min_ft_msl']
        airsigmet_data_df.at[j,'min_ft_msl']="NaN"

  


airsigmet_data_df.rename(columns={"lon:lat points":"lat_lon_points"}, inplace=True) # Update the column name
airsigmet_data_df.head()

,raw_text,valid_time_from,valid_time_to,lat_lon_points,min_ft_msl,max_ft_msl,movement_dir_degrees,movement_speed_kt,hazard,severity,airsigmet_type
0,WSUS32 KKCI 310455 SIGC CONVECTIVE SIGMET.....,2023-12-31T04:55:00Z,2023-12-31T06:55:00Z,"[[49.0, -107.0], [31.79, -107.0], [31.78, -106...",NaN,NaN,NaN,NaN,CONVECTIVE,1,SIGMET
1,WSUS33 KKCI 310455 SIGW CONVECTIVE SIGMET.....,2023-12-31T04:55:00Z,2023-12-31T06:55:00Z,"[[49.0, -122.77], [48.96, -123.12], [48.6, -12...",NaN,NaN,NaN,NaN,CONVECTIVE,1,SIGMET
2,WSUS31 KKCI 310455 SIGE CONVECTIVE SIGMET.....,2023-12-31T04:55:00Z,2023-12-31T06:55:00Z,"[[27.48, -87.0], [27.48, -84.26], [24.0, -83.0...",NaN,NaN,NaN,NaN,CONVECTIVE,1,SIGMET
3,WAUS45 KKCI 310245 SLCT WA 310245 AIRMET TAN...,2023-12-31T02:45:00Z,2023-12-31T09:00:00Z,"[[34.7347, -103.126], [31.87, -103.24], [31.82...",27000.0,42000.0,NaN,NaN,TURB,MOD,AIRMET
4,WAUS43 KKCI 310245 CHIT WA 310245 AIRMET TAN...,2023-12-31T02:45:00Z,2023-12-31T09:00:00Z,"[[48.8448, -103.63], [48.8206, -94.3328], [46....",26000.0,40000.0,NaN,NaN,TURB,MOD,AIRMET

In [790]:
# Convert the dataframe to a JSON format
# airsigmet_json = json.loads(json.dumps(list(airsigmet_data_df.T.to_dict().values())))   # https://stackoverflow.com/questions/39257147/convert-pandas-dataframe-to-json-format answer #10 Amir.S
# pprint(airsigmet_json, sort_dicts=False)

In [791]:
# convert the dataframe to a dictionary then to a JSON string
airsigmet_string=json.dumps(list(airsigmet_data_df.T.to_dict().values()))

# open the file in write mode
# output_path = os.path.join("Resources", "airsigmet_data.json")
output_path = os.path.join("", "airsigmet_data.json")
with open(output_path, "w") as file:
    # write the JSON string to the file
    file.write(airsigmet_string.replace("NaN","null"))

# file is automatically closed after the with block

__To download headwing and crosswind informations for all runways__

In [792]:
# download the output of a query across multiple tables with the wind information relative to all runways.
# Will be used to update the makers for all airports.
# There are multiple rows per airport (one per runway).
# More parameters can be added to complete the info on the popup window.

load_dotenv()
db_url = os.environ.get("link_render")


query="""
SELECT arpt_id, icao_id, arpt_name, apt_rwy.rwy_id, apt_rwy.rwy_len, apt_rwy_end.rwy_end_id, apt_rwy_end.true_alignment, metar.wind_dir_degrees, metar.wind_speed_kt, metar.wind_gust_kt,
ROUND(metar.wind_speed_kt*sin(radians(apt_rwy_end.true_alignment - (metar.wind_dir_degrees :: INTEGER)))) AS "cross_wind",
ROUND(metar.wind_speed_kt*cos(radians(apt_rwy_end.true_alignment - (metar.wind_dir_degrees :: INTEGER)))) AS "head_wind",
ROUND(metar.wind_gust_kt*sin(radians(apt_rwy_end.true_alignment - (metar.wind_dir_degrees :: INTEGER)))) AS "gust_cross_wind",
ROUND(metar.wind_gust_kt*cos(radians(apt_rwy_end.true_alignment - (metar.wind_dir_degrees :: INTEGER)))) AS "gust_head_wind"	
FROM apt_rwy
JOIN apt_base ON apt_base.site_no = apt_rwy.site_no
JOIN apt_rwy_end ON apt_base.site_no = apt_rwy_end.site_no AND apt_rwy.rwy_id = apt_rwy_end.rwy_id
FULL JOIN metar ON (RIGHT(metar.station_id, LENGTH(metar.station_id) - 1)) = apt_base.arpt_id
WHERE facility_use_code='PU' AND arpt_status='O' AND site_type_code='A' AND (@(lat_decimal - metar.latitude) <1) AND (@(long_decimal - metar.longitude) <1) AND metar.wind_dir_degrees != 'VRB'
"""

engine=create_engine(db_url)
with engine.begin() as conn:
    results=conn.execute(
        text(query)
    )

rwy_wind_query_df = pd.DataFrame(results)


# convert the dataframe to a dictionary then to a JSON string
rwy_wind_string=json.dumps(list(rwy_wind_query_df.T.to_dict().values()))

# open the file in write mode
output_path = os.path.join("", "rwy_wind_data.json")
with open(output_path, "w") as file:
    # write the JSON string to the file
    file.write(rwy_wind_string.replace("NaN","null"))

# file is automatically closed after the with block

In [793]:
# rwy_wind_query_df.head()

In [794]:
# len(rwy_wind_query_df)

In [795]:
# rwy_wind_query_df

In [796]:
# download the output of a consolidated query across multiple tables with all information pertinent to an airport.
# Will be used to update the makers for all airports.
# There are multiple rows per airport (one per runway).
# More parameters can be added to complete the info on the popup window.
# Will be used to consolidate the information in the popups

load_dotenv()
db_url = os.environ.get("link_render")

query="""
-- Query to get METAR information for each airport as a VIEW
DROP VIEW IF EXISTS all_circles_view;
CREATE VIEW all_circles_view AS
SELECT 
arpt_id, icao_id, metar.station_id, arpt_name, apt_rwy.rwy_id, apt_rwy.rwy_len, lat_decimal, metar.latitude, long_decimal, metar.longitude, metar.observation_time, metar.flight_category, metar.raw_text, elev, metar.visibility_statute_mi, metar.cloud_base_ft_agl
-- , metar.wind_speed_kt
FROM apt_rwy
JOIN apt_base ON apt_base.site_no = apt_rwy.site_no
FULL JOIN metar ON (RIGHT(metar.station_id, LENGTH(metar.station_id) - 1)) = apt_base.arpt_id
WHERE facility_use_code='PU' AND site_type_code='A' AND arpt_status='O' AND
CASE
	WHEN metar.station_id IS NOT NULL
	THEN (@(lat_decimal - metar.latitude) <1) AND (@(long_decimal - metar.longitude) <1) AND site_type_code='A'
	
	WHEN metar.station_id IS NULL
	THEN site_type_code='A'
END;

-- Query to get wind information for each runway as a VIEW
DROP VIEW IF EXISTS all_rwy_xwind_view;
CREATE VIEW all_rwy_xwind_view AS
SELECT arpt_id, icao_id, arpt_name, apt_rwy.rwy_id, apt_rwy.rwy_len, apt_rwy_end.rwy_end_id, apt_rwy_end.true_alignment, metar.wind_dir_degrees, metar.wind_speed_kt, metar.wind_gust_kt,
	ROUND(metar.wind_speed_kt*sin(radians(apt_rwy_end.true_alignment - (metar.wind_dir_degrees :: INTEGER)))) AS "cross_wind",
	ROUND(metar.wind_speed_kt*cos(radians(apt_rwy_end.true_alignment - (metar.wind_dir_degrees :: INTEGER)))) AS "head_wind",
	ROUND(metar.wind_gust_kt*sin(radians(apt_rwy_end.true_alignment - (metar.wind_dir_degrees :: INTEGER)))) AS "gust_cross_wind",
	ROUND(metar.wind_gust_kt*cos(radians(apt_rwy_end.true_alignment - (metar.wind_dir_degrees :: INTEGER)))) AS "gust_head_wind"	
FROM apt_rwy_end
FULL JOIN apt_base ON apt_base.site_no = apt_rwy_end.site_no
FULL JOIN apt_rwy ON apt_base.site_no = apt_rwy.site_no AND apt_rwy.rwy_id = apt_rwy_end.rwy_id
FULL JOIN metar ON (RIGHT(metar.station_id, LENGTH(metar.station_id) - 1)) = apt_base.arpt_id
WHERE facility_use_code='PU' AND arpt_status='O' AND
CASE -- by not have the CASE, we were not providing the rwy length of the airports without METAR
	WHEN metar.station_id IS NOT NULL
	AND metar.wind_dir_degrees != 'VRB'
	THEN (@(lat_decimal - metar.latitude) <1) AND (@(long_decimal - metar.longitude) <1) AND site_type_code='A'
	
	WHEN metar.station_id IS NULL
	THEN site_type_code='A'
END;

-- Merge the two VIEWS
SELECT 	all_circles_view.arpt_id, all_circles_view.icao_id, all_circles_view.station_id, all_circles_view.arpt_name, all_circles_view.lat_decimal, all_circles_view.long_decimal, all_circles_view.elev, 
		all_circles_view.rwy_id, all_rwy_xwind_view.rwy_end_id, all_rwy_xwind_view.rwy_len,
		all_rwy_xwind_view.cross_wind, all_rwy_xwind_view.head_wind, all_rwy_xwind_view.gust_cross_wind, all_rwy_xwind_view.gust_head_wind,		
		all_rwy_xwind_view.true_alignment,
		all_rwy_xwind_view.wind_dir_degrees, all_rwy_xwind_view.wind_speed_kt, all_rwy_xwind_view.wind_gust_kt,
		all_circles_view.flight_category,  all_circles_view.visibility_statute_mi, all_circles_view.cloud_base_ft_agl,		
		all_circles_view.observation_time, all_circles_view.raw_text
FROM all_circles_view
FULL JOIN all_rwy_xwind_view ON all_circles_view.arpt_id = all_rwy_xwind_view.arpt_id
AND all_circles_view.rwy_id=all_rwy_xwind_view.rwy_id
WHERE all_circles_view.rwy_id NOT LIKE 'H%'
"""


engine=create_engine(db_url)
with engine.begin() as conn:
    results=conn.execute(
        text(query)
    )

airport_info_query_raw_df = pd.DataFrame(results)


# # convert the dataframe to a dictionary then to a JSON string		# The section below will be moved to be used on the consolidated DF.
# airport_info_string=json.dumps(list(airport_info_query_raw_df.T.to_dict().values()))

# # open the file in write mode
# output_path = os.path.join("", "airport_info_data.json")
# with open(output_path, "w") as file:
#     # write the JSON string to the file
#     file.write(rwy_wind_string.replace("NaN","null"))

# # file is automatically closed after the with block

In [797]:
airport_info_query_raw_df.head()

,arpt_id,icao_id,station_id,arpt_name,lat_decimal,long_decimal,elev,rwy_id,rwy_end_id,rwy_len,...,gust_head_wind,true_alignment,wind_dir_degrees,wind_speed_kt,wind_gust_kt,flight_category,visibility_statute_mi,cloud_base_ft_agl,observation_time,raw_text
0,0J0,None,None,ABBEVILLE MUNI,31.600222,-85.238308,463.1,17/35,35,2900.0,...,NaN,352.0,None,NaN,NaN,None,None,NaN,None,None
1,0J0,None,None,ABBEVILLE MUNI,31.600222,-85.238308,463.1,17/35,17,2900.0,...,NaN,172.0,None,NaN,NaN,None,None,NaN,None,None
2,2A8,None,None,ADDISON MUNI,34.217142,-87.158158,786.0,05/23,23,2644.0,...,NaN,229.0,None,NaN,NaN,None,None,NaN,None,None
3,2A8,None,None,ADDISON MUNI,34.217142,-87.158158,786.0,05/23,05,2644.0,...,NaN,49.0,None,NaN,NaN,None,None,NaN,None,None
4,EET,KEET,KEET,SHELBY COUNTY,33.177778,-86.783222,585.6,16/34,34,5000.0,...,NaN,337.0,0,0.0,NaN,VFR,9,NaN,2023-12-31T05:53:00Z,KEET 310553Z AUTO 00000KT 9SM CLR M02/M03 A301...

In [798]:
# airport_info_query_df.columns

In [799]:
# Consolidation of the database with only one row per airport regardless of the number of runways

airport_info_query_df=pd.DataFrame(columns=['arpt_id', 'icao_id', 'station_id', 'arpt_name', 'lat_decimal',
       'long_decimal', 'elev', 'rwy_id', 'rwy_end_id', 'rwy_len', 'cross_wind',
       'head_wind', 'gust_cross_wind', 'gust_head_wind', 'true_alignment',
       'wind_dir_degrees', 'wind_speed_kt', 'wind_gust_kt', 'flight_category',
       'visibility_statute_mi', 'cloud_base_ft_agl', 'observation_time',
       'raw_text'])

airport_info_query_df["popup_text"]=np.nan
# airport_info_query_df.loc[airport_info_query_raw_df.index[0]] = airport_info_query_raw_df.iloc[0]

first_row=True
first_rwy=True

a=len(airport_info_query_raw_df)
print(f"View length: {a}")
for i in range (a):
    if first_row:
       k=i
       airport_info_query_df.loc[airport_info_query_raw_df.index[i]] = airport_info_query_raw_df.iloc[i]
       popup_text="""<div class="arpt_id"> """+airport_info_query_raw_df.iloc[i]["arpt_id"]+'</div>'

       if airport_info_query_raw_df.iloc[i]["icao_id"] is not None:
           popup_text=popup_text+"""<div class="icao_id"> / """+airport_info_query_raw_df.iloc[i]["icao_id"]+'</div>'

       popup_text=popup_text+'<br>'+"""<div class="arpt_name"> """+airport_info_query_raw_df.iloc[i]["arpt_name"]+'</div>'
       popup_text=popup_text+'<br>'+"""<div class="elev">Airport Elevation: """+str(int(airport_info_query_raw_df.iloc[i]["elev"]))+""" (ft MSL)</div>"""

       if pd.isna(airport_info_query_raw_df.iloc[i]["visibility_statute_mi"])==False:
           popup_text=popup_text+'<br>'+"""<div class="visibility_statute_mi">Airport visibility: """+airport_info_query_raw_df.iloc[i]["visibility_statute_mi"]+' (SM)</div>'

       if pd.isna(airport_info_query_raw_df.iloc[i]["cloud_base_ft_agl"])==False:
           popup_text=popup_text+'<br>'+"""<div class="cloud_base_ft_agl">Airport ceiling: """+str(airport_info_query_raw_df.iloc[i]["cloud_base_ft_agl"])+' (ft AGL)</div>'

       first_row=False

    if first_rwy:
        popup_text=popup_text+'<br>'+"""<div class="rwy_id"> Runway """+airport_info_query_raw_df.iloc[i]["rwy_id"]+' </div>'
        if pd.isna(airport_info_query_raw_df.iloc[i]["rwy_len"])==False:
            popup_text=popup_text+'<br>'+"""<div class="rwy_len"> Runway length: """+str(int(airport_info_query_raw_df.iloc[i]["rwy_len"]))+' (ft)</div>'
        first_rwy=False

    if pd.isna(airport_info_query_raw_df.iloc[i]["raw_text"])==False:
        if pd.isna(airport_info_query_raw_df.iloc[i]["rwy_end_id"])==False:
            popup_text=popup_text+'<br>'+"""<div class="rwy_end_id"> """+airport_info_query_raw_df.iloc[i]["rwy_end_id"]+' :</div>'

        if pd.isna(airport_info_query_raw_df.iloc[i]["cross_wind"])==False:
            popup_text=popup_text+'<br>'+"""<div class="cross_wind">Crosswind (neg. is from right): """+str(int(airport_info_query_raw_df.iloc[i]["cross_wind"]))+' (kt)</div>'

        if pd.isna(airport_info_query_raw_df.iloc[i]["head_wind"])==False:
            popup_text=popup_text+'<br>'+"""<div class="head_wind">Headwind (neg. is headwind): """+str(int(airport_info_query_raw_df.iloc[i]["head_wind"]))+' (kt)</div>'

        if pd.isna(airport_info_query_raw_df.iloc[i]["gust_cross_wind"])==False:
            popup_text=popup_text+'<br>'+"""<div class="gust_cross_wind">Gust crosswind (neg. is from right): """+str(int(airport_info_query_raw_df.iloc[i]["gust_cross_wind"]))+' (kt)</div>'

        if pd.isna(airport_info_query_raw_df.iloc[i]["gust_head_wind"])==False:
            popup_text=popup_text+'<br>'+"""<div class="gust_head_wind">Gust headwind (neg. is headwind): """+str(int(airport_info_query_raw_df.iloc[i]["gust_head_wind"]))+' (kt)</div>'


    if i<a-1:
        if airport_info_query_raw_df.iloc[i+1]["arpt_id"]!=airport_info_query_raw_df.iloc[i]["arpt_id"]:
            if pd.isna(airport_info_query_raw_df.iloc[i]["raw_text"])==False:
                popup_text=popup_text+'<br>'+"""<div class="raw_text"> """+airport_info_query_raw_df.iloc[i]["raw_text"]+'</div>'
                popup_text=popup_text+'<br>'+"""<div class="observation_time"> """+airport_info_query_raw_df.iloc[i]["observation_time"]+'</div>'
            else:
                popup_text=popup_text+'<br> <div class="raw_text">No weather information</div>'

            airport_info_query_df.at[k,"popup_text"]=popup_text
            # print(f"k={k}, i={i}")
            # print(popup_text)
            first_row=True
            first_rwy=True
        elif airport_info_query_raw_df.iloc[i+1]["rwy_id"]!=airport_info_query_raw_df.iloc[i]["rwy_id"]:
            first_rwy=True

    if i==a-1:
        airport_info_query_df.at[k,"popup_text"]=popup_text




# convert the dataframe to a dictionary then to a JSON string		# The section below will be moved to be used on the consolidated DF.
airport_info_string=json.dumps(list(airport_info_query_df.T.to_dict().values()))

# open the file in write mode
output_path = os.path.join("", "airport_info_full_data.json")
with open(output_path, "w") as file:
    # write the JSON string to the file
    file.write(airport_info_string.replace("NaN","null"))

# file is automatically closed after the with block
        


airport_info_query_df

View length: 13780

,arpt_id,icao_id,station_id,arpt_name,lat_decimal,long_decimal,elev,rwy_id,rwy_end_id,rwy_len,...,true_alignment,wind_dir_degrees,wind_speed_kt,wind_gust_kt,flight_category,visibility_statute_mi,cloud_base_ft_agl,observation_time,raw_text,popup_text
0,0J0,None,None,ABBEVILLE MUNI,31.600222,-85.238308,463.1,17/35,35,2900.0,...,352.0,None,NaN,NaN,None,None,NaN,None,None,"<div class=""arpt_id""> 0J0</div><br><div class=..."
2,2A8,None,None,ADDISON MUNI,34.217142,-87.158158,786.0,05/23,23,2644.0,...,229.0,None,NaN,NaN,None,None,NaN,None,None,"<div class=""arpt_id""> 2A8</div><br><div class=..."
4,EET,KEET,KEET,SHELBY COUNTY,33.177778,-86.783222,585.6,16/34,34,5000.0,...,337.0,0,0.0,NaN,VFR,9,NaN,2023-12-31T05:53:00Z,KEET 310553Z AUTO 00000KT 9SM CLR M02/M03 A301...,"<div class=""arpt_id""> EET</div><div class=""ica..."
6,8A0,None,K8A0,ALBERTVILLE RGNL/THOMAS J BRUMLIK FLD,34.229111,-86.25575,1032.3,05/23,23,6114.0,...,228.0,160,4.0,NaN,VFR,10+,NaN,2023-12-31T05:35:00Z,K8A0 310535Z AUTO 16004KT 10SM CLR 00/M01 A301...,"<div class=""arpt_id""> 8A0</div><br><div class=..."
8,ALX,KALX,KALX,THOMAS C RUSSELL FLD,32.91475,-85.962944,685.8,18/36,36,5422.0,...,358.0,0,0.0,NaN,VFR,10+,NaN,2023-12-31T05:35:00Z,KALX 310535Z AUTO 00000KT 10SM CLR M02/M02 A30...,"<div class=""arpt_id""> ALX</div><div class=""ica..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13775,I16,None,KI16,KEE FLD,37.600444,-81.559278,1783.0,08/26,None,NaN,...,NaN,None,NaN,NaN,MVFR,10+,1200.0,2023-12-31T05:35:00Z,KI16 310535Z AUTO 10SM BKN012 BKN019 OVC026 02...,"<div class=""arpt_id""> I16</div><br><div class=..."
13776,EKY,KEKY,KEKY,BESSEMER,33.312611,-86.926306,699.6,05/23,None,NaN,...,NaN,None,NaN,NaN,VFR,10+,NaN,2023-12-31T05:56:00Z,KEKY 310556Z AUTO VRB03KT 10SM CLR 01/M01 A301...,"<div class=""arpt_id""> EKY</div><div class=""ica..."
13777,SUA,KSUA,KSUA,WITHAM FLD,27.181699,-80.221293,16.1,12/30,None,NaN,...,NaN,None,NaN,NaN,VFR,10+,NaN,2023-12-31T05:55:00Z,KSUA 310555Z AUTO 10SM CLR 11/10 A3021 RMK AO2...,"<div class=""arpt_id""> SUA</div><div class=""ica..."
13778,PKB,KPKB,KPKB,MID-OHIO VALLEY RGNL,39.344962,-81.439293,858.5,10/28,None,NaN,...,NaN,None,NaN,NaN,MVFR,10+,2200.0,2023-12-31T05:53:00Z,KPKB 310553Z AUTO VRB05KT 10SM OVC022 03/M02 A...,"<div class=""arpt_id""> PKB</div><div class=""ica..."
13779,12N,None,K12N,AEROFLEX/ANDOVER,41.00862,-74.738034,582.7,03/21,None,NaN,...,NaN,None,NaN,NaN,VFR,None,NaN,2023-12-31T05:54:00Z,K12N 310554Z AUTO VRB04KT 03/M04 A2984 RMK AO1...,"<div class=""arpt_id""> 12N</div><br><div class=..."